
.container2{
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
}

.container span2{
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}

.container .box{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	transition: all .25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
  }

.container .box:hover{
	background: rgb(174, 244, 255);
	color: rgb(108, 108, 108);
}

.btn{
	width: 200px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	display: block;
	margin: 40px auto;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.win{
	background: #48ceff;
	color: rgb(0, 94, 255);
}
